In [2]:
#Load required packages
import pandas as pd
from sqlalchemy import create_engine

In [2]:
#Extract csv files and convert to pandas dataframe
players_file = '../resources/players.csv'
players_df = pd.read_csv(players_file)
players_df.head()

,playerId,nameFirst,nameLast,nameFull,position,collegeId,nflId,combineId,college,heightInches,...,dob,ageAtDraft,playerProfileUrl,homeCity,homeState,homeCountry,highSchool,hsCity,hsState,hsCountry
0,19770001,Ricky,Bell,Ricky Bell,RB,90089,2509366,NaN,USC,74.0,...,1955-04-08,22.084932,http://www.nfl.com/player/RickyBell/2509366/pr...,Houston,TX,USA,NaN,NaN,NaN,NaN
1,19770002,Tony,Dorsett,Tony Dorsett,RB,15260,2513084,NaN,Pittsburgh,71.0,...,1954-04-07,23.087671,http://www.nfl.com/player/TonyDorsett/2513084/...,Rochester,PA,USA,NaN,NaN,NaN,NaN
2,19770003,Eddie,Edwards,Eddie Edwards,DE,33124,2513479,NaN,Miami (FL),77.0,...,1954-04-25,23.038356,http://www.nfl.com/player/EddieEdwards/2513479...,Sumter,SC,USA,NaN,NaN,NaN,NaN
3,19770004,Marvin,Powell,Marvin Powell,OT,90089,2523462,NaN,USC,77.0,...,1955-08-30,21.690411,http://www.nfl.com/player/MarvinPowell/2523462...,Los Angeles,CA,USA,NaN,NaN,NaN,NaN
4,19770005,Gary,Jeter,Gary Jeter,DE,90089,2517530,NaN,USC,76.0,...,1955-01-24,22.287671,http://www.nfl.com/player/GaryJeter/2517530/pr...,Weirton,WV,USA,NaN,NaN,NaN,NaN

In [3]:
#Rename columns in dataframe and display results
players_df.rename(columns = {'playerId':'player_id', 'nameFirst':'first_name', 'nameLast':'last_name', 'nameFull':'full_name',
                              'nflId':'nfl_id', 'heightInches': 'height_inches', 
                             'ageAtDraft': 'draft_age', 'playerProfileURL': 'player_profile',
                            'homeCity': 'hometown', 'homeState': 'home_state', 'homeCountry': 'country'}, inplace = True)

players_df

,player_id,first_name,last_name,full_name,position,collegeId,nfl_id,combineId,college,height_inches,...,dob,draft_age,playerProfileUrl,hometown,home_state,country,highSchool,hsCity,hsState,hsCountry
0,19770001,Ricky,Bell,Ricky Bell,RB,90089,2509366,NaN,USC,74.0,...,1955-04-08,22.084932,http://www.nfl.com/player/RickyBell/2509366/pr...,Houston,TX,USA,NaN,NaN,NaN,NaN
1,19770002,Tony,Dorsett,Tony Dorsett,RB,15260,2513084,NaN,Pittsburgh,71.0,...,1954-04-07,23.087671,http://www.nfl.com/player/TonyDorsett/2513084/...,Rochester,PA,USA,NaN,NaN,NaN,NaN
2,19770003,Eddie,Edwards,Eddie Edwards,DE,33124,2513479,NaN,Miami (FL),77.0,...,1954-04-25,23.038356,http://www.nfl.com/player/EddieEdwards/2513479...,Sumter,SC,USA,NaN,NaN,NaN,NaN
3,19770004,Marvin,Powell,Marvin Powell,OT,90089,2523462,NaN,USC,77.0,...,1955-08-30,21.690411,http://www.nfl.com/player/MarvinPowell/2523462...,Los Angeles,CA,USA,NaN,NaN,NaN,NaN
4,19770005,Gary,Jeter,Gary Jeter,DE,90089,2517530,NaN,USC,76.0,...,1955-01-24,22.287671,http://www.nfl.com/player/GaryJeter/2517530/pr...,Weirton,WV,USA,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23290,20191195,Quart'e,Sapp,Quart'e Sapp,LB,37998,2563377,NaN,Tennessee,74.0,...,1997-03-08,22.153425,http://www.nfl.com/player/Quart'eSapp/2563377/...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23291,20191196,Kirk,Barron,Kirk Barron,C,47906,2563266,NaN,Purdue,74.0,...,1995-06-03,23.917808,http://www.nfl.com/player/KirkBarron/2563266/p...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23292,20191198,Jordan,Holland,Jordan Holland,DB,77030,2563382,NaN,Prairie View A&M,69.0,...,1995-03-15,24.136986,http://www.nfl.com/player/JordanHolland/256338...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23293,20191199,Logan,Tago,Logan Tago,LB,99164,2563383,NaN,Washington State,75.0,...,NaN,NaN,http://www.nfl.com/player/LoganTago/2563383/pr...,Fagaalu,AS,USA,Samoana HS,Pago Pago,AS,USA
23294,20191200,Tavonn,Salter,Tavonn Salter,WR,37130,2563433,NaN,Middle Tennessee State,74.0,...,1996-03-01,23.172603,http://www.nfl.com/player/TavonnSalter/2563433...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
#Remove multiple decimal places from draft age and display results
player_values = players_df.round(decimals=0) 
player_values

,player_id,first_name,last_name,full_name,position,collegeId,nfl_id,combineId,college,height_inches,...,dob,draft_age,playerProfileUrl,hometown,home_state,country,highSchool,hsCity,hsState,hsCountry
0,19770001,Ricky,Bell,Ricky Bell,RB,90089,2509366,NaN,USC,74.0,...,1955-04-08,22.0,http://www.nfl.com/player/RickyBell/2509366/pr...,Houston,TX,USA,NaN,NaN,NaN,NaN
1,19770002,Tony,Dorsett,Tony Dorsett,RB,15260,2513084,NaN,Pittsburgh,71.0,...,1954-04-07,23.0,http://www.nfl.com/player/TonyDorsett/2513084/...,Rochester,PA,USA,NaN,NaN,NaN,NaN
2,19770003,Eddie,Edwards,Eddie Edwards,DE,33124,2513479,NaN,Miami (FL),77.0,...,1954-04-25,23.0,http://www.nfl.com/player/EddieEdwards/2513479...,Sumter,SC,USA,NaN,NaN,NaN,NaN
3,19770004,Marvin,Powell,Marvin Powell,OT,90089,2523462,NaN,USC,77.0,...,1955-08-30,22.0,http://www.nfl.com/player/MarvinPowell/2523462...,Los Angeles,CA,USA,NaN,NaN,NaN,NaN
4,19770005,Gary,Jeter,Gary Jeter,DE,90089,2517530,NaN,USC,76.0,...,1955-01-24,22.0,http://www.nfl.com/player/GaryJeter/2517530/pr...,Weirton,WV,USA,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23290,20191195,Quart'e,Sapp,Quart'e Sapp,LB,37998,2563377,NaN,Tennessee,74.0,...,1997-03-08,22.0,http://www.nfl.com/player/Quart'eSapp/2563377/...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23291,20191196,Kirk,Barron,Kirk Barron,C,47906,2563266,NaN,Purdue,74.0,...,1995-06-03,24.0,http://www.nfl.com/player/KirkBarron/2563266/p...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23292,20191198,Jordan,Holland,Jordan Holland,DB,77030,2563382,NaN,Prairie View A&M,69.0,...,1995-03-15,24.0,http://www.nfl.com/player/JordanHolland/256338...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23293,20191199,Logan,Tago,Logan Tago,LB,99164,2563383,NaN,Washington State,75.0,...,NaN,NaN,http://www.nfl.com/player/LoganTago/2563383/pr...,Fagaalu,AS,USA,Samoana HS,Pago Pago,AS,USA
23294,20191200,Tavonn,Salter,Tavonn Salter,WR,37130,2563433,NaN,Middle Tennessee State,74.0,...,1996-03-01,23.0,http://www.nfl.com/player/TavonnSalter/2563433...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
#Drop columns from dataframe and display results
players_drop_col = player_values.drop(['first_name', 'last_name', 'collegeId', 'combineId', 'highSchool', 'hsCity', 'hsState', 'hsCountry'], axis=1)
players_drop_col

,player_id,full_name,position,nfl_id,college,height_inches,weight,dob,draft_age,playerProfileUrl,hometown,home_state,country
0,19770001,Ricky Bell,RB,2509366,USC,74.0,220.0,1955-04-08,22.0,http://www.nfl.com/player/RickyBell/2509366/pr...,Houston,TX,USA
1,19770002,Tony Dorsett,RB,2513084,Pittsburgh,71.0,192.0,1954-04-07,23.0,http://www.nfl.com/player/TonyDorsett/2513084/...,Rochester,PA,USA
2,19770003,Eddie Edwards,DE,2513479,Miami (FL),77.0,256.0,1954-04-25,23.0,http://www.nfl.com/player/EddieEdwards/2513479...,Sumter,SC,USA
3,19770004,Marvin Powell,OT,2523462,USC,77.0,268.0,1955-08-30,22.0,http://www.nfl.com/player/MarvinPowell/2523462...,Los Angeles,CA,USA
4,19770005,Gary Jeter,DE,2517530,USC,76.0,259.0,1955-01-24,22.0,http://www.nfl.com/player/GaryJeter/2517530/pr...,Weirton,WV,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...
23290,20191195,Quart'e Sapp,LB,2563377,Tennessee,74.0,223.0,1997-03-08,22.0,http://www.nfl.com/player/Quart'eSapp/2563377/...,NaN,NaN,NaN
23291,20191196,Kirk Barron,C,2563266,Purdue,74.0,300.0,1995-06-03,24.0,http://www.nfl.com/player/KirkBarron/2563266/p...,NaN,NaN,NaN
23292,20191198,Jordan Holland,DB,2563382,Prairie View A&M,69.0,175.0,1995-03-15,24.0,http://www.nfl.com/player/JordanHolland/256338...,NaN,NaN,NaN
23293,20191199,Logan Tago,LB,2563383,Washington State,75.0,247.0,NaN,NaN,http://www.nfl.com/player/LoganTago/2563383/pr...,Fagaalu,AS,USA
23294,20191200,Tavonn Salter,WR,2563433,Middle Tennessee State,74.0,194.0,1996-03-01,23.0,http://www.nfl.com/player/TavonnSalter/2563433...,NaN,NaN,NaN

In [6]:
#Remove null values from columns and rows of dataframe and display results
players_drop_nulls = players_drop_col.dropna(how='any')
players_drop_nulls

,player_id,full_name,position,nfl_id,college,height_inches,weight,dob,draft_age,playerProfileUrl,hometown,home_state,country
0,19770001,Ricky Bell,RB,2509366,USC,74.0,220.0,1955-04-08,22.0,http://www.nfl.com/player/RickyBell/2509366/pr...,Houston,TX,USA
1,19770002,Tony Dorsett,RB,2513084,Pittsburgh,71.0,192.0,1954-04-07,23.0,http://www.nfl.com/player/TonyDorsett/2513084/...,Rochester,PA,USA
2,19770003,Eddie Edwards,DE,2513479,Miami (FL),77.0,256.0,1954-04-25,23.0,http://www.nfl.com/player/EddieEdwards/2513479...,Sumter,SC,USA
3,19770004,Marvin Powell,OT,2523462,USC,77.0,268.0,1955-08-30,22.0,http://www.nfl.com/player/MarvinPowell/2523462...,Los Angeles,CA,USA
4,19770005,Gary Jeter,DE,2517530,USC,76.0,259.0,1955-01-24,22.0,http://www.nfl.com/player/GaryJeter/2517530/pr...,Weirton,WV,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...
23244,20191037,Justin Johnson,TE,2563026,Mississippi State,75.0,245.0,1996-11-08,22.0,http://www.nfl.com/player/JustinJohnson/256302...,Birmingham,AL,USA
23256,20191086,Abdul Beecham,OG,2563336,Kansas State,75.0,321.0,1997-03-05,22.0,http://www.nfl.com/player/AbdulBeecham/2563336...,West Point,NY,USA
23260,20191131,Joey Slye,K,2563132,Virginia Tech,71.0,213.0,1996-04-10,23.0,http://www.nfl.com/player/JoeySlye/2563132/pro...,Albuquerque,NM,USA
23261,20191147,Sua Opeta,OG,2562694,Weber State (UT),76.0,305.0,1996-08-15,23.0,http://www.nfl.com/player/SuaOpeta/2562694/pro...,Bountiful,UT,USA
23262,20191152,Damian Prince,OT,2562704,Maryland,75.0,320.0,1996-04-16,23.0,http://www.nfl.com/player/DamianPrince/2562704...,Oxon Hill,MD,USA

In [7]:
#Extract csv files and convert to pandas dataframe
draft_file = '../resources/draft.csv'
draft_df = pd.read_csv(draft_file)
draft_df.head()

,playerId,draft,round,pick,draftTradeValue,draftTeam,position,teamId,nameFirst,nameLast,...,dob,ageAtDraft,playerProfileUrl,homeCity,homeState,homeCountry,highSchool,hsCity,hsState,hsCountry
0,19770001,1977,1.0,1,3000.0,TB,RB,4900,Ricky,Bell,...,1955-04-08,22.084932,http://www.nfl.com/player/RickyBell/2509366/pr...,Houston,TX,USA,NaN,NaN,NaN,NaN
1,19770002,1977,1.0,2,2600.0,DAL,RB,1200,Tony,Dorsett,...,1954-04-07,23.087671,http://www.nfl.com/player/TonyDorsett/2513084/...,Rochester,PA,USA,NaN,NaN,NaN,NaN
2,19770003,1977,1.0,3,2200.0,CIN,DE,920,Eddie,Edwards,...,1954-04-25,23.038356,http://www.nfl.com/player/EddieEdwards/2513479...,Sumter,SC,USA,NaN,NaN,NaN,NaN
3,19770004,1977,1.0,4,1800.0,NYJ,OT,3430,Marvin,Powell,...,1955-08-30,21.690411,http://www.nfl.com/player/MarvinPowell/2523462...,Los Angeles,CA,USA,NaN,NaN,NaN,NaN
4,19770005,1977,1.0,5,1700.0,NYG,DE,3410,Gary,Jeter,...,1955-01-24,22.287671,http://www.nfl.com/player/GaryJeter/2517530/pr...,Weirton,WV,USA,NaN,NaN,NaN,NaN

In [8]:
#Rename columns in dataframe and display results
draft_df.rename(columns = {'playerId':'player_id', 'nameFirst':'first_name', 'nameLast':'last_name', 'nameFull': 'full_name',
                              'teamId':'team_id', 'heightInches': 'height_inches', 
                             'ageAtDraft': 'draft_age', 'playerProfileURL': 'player_profile',
                            'homeCity': 'hometown', 'homeState': 'home_state', 'homeCountry': 'country'}, inplace = True)

draft_df

,player_id,draft,round,pick,draftTradeValue,draftTeam,position,team_id,first_name,last_name,...,dob,draft_age,playerProfileUrl,hometown,home_state,country,highSchool,hsCity,hsState,hsCountry
0,19770001,1977,1.0,1,3000.00,TB,RB,4900,Ricky,Bell,...,1955-04-08,22.084932,http://www.nfl.com/player/RickyBell/2509366/pr...,Houston,TX,USA,NaN,NaN,NaN,NaN
1,19770002,1977,1.0,2,2600.00,DAL,RB,1200,Tony,Dorsett,...,1954-04-07,23.087671,http://www.nfl.com/player/TonyDorsett/2513084/...,Rochester,PA,USA,NaN,NaN,NaN,NaN
2,19770003,1977,1.0,3,2200.00,CIN,DE,920,Eddie,Edwards,...,1954-04-25,23.038356,http://www.nfl.com/player/EddieEdwards/2513479...,Sumter,SC,USA,NaN,NaN,NaN,NaN
3,19770004,1977,1.0,4,1800.00,NYJ,OT,3430,Marvin,Powell,...,1955-08-30,21.690411,http://www.nfl.com/player/MarvinPowell/2523462...,Los Angeles,CA,USA,NaN,NaN,NaN,NaN
4,19770005,1977,1.0,5,1700.00,NYG,DE,3410,Gary,Jeter,...,1955-01-24,22.287671,http://www.nfl.com/player/GaryJeter/2517530/pr...,Weirton,WV,USA,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12135,20190250,2019,NaN,250,0.96,MIN,LS,3000,Austin,Cutting,...,1997-10-27,21.515068,http://www.nfl.com/player/AustinCutting/256292...,Keller,TX,USA,Central HS,Center,TX,USA
12136,20190251,2019,NaN,251,0.92,LAR,LB,2520,Dakota,Allen,...,1995-11-02,23.501370,http://www.nfl.com/player/DakotaAllen/2562618/...,Dallas,TX,USA,Summer Creek HS,Humble,TX,USA
12137,20190252,2019,NaN,252,0.88,NE,CB,3200,Ken,Webster,...,1996-06-19,22.871233,http://www.nfl.com/player/KenWebster/2562776/p...,NaN,NaN,NaN,Stockbridge HS,Decatur,GA,USA
12138,20190253,2019,NaN,253,0.84,WAS,DE,5110,Jordan,Brailford,...,1995-10-09,23.567123,http://www.nfl.com/player/JordanBrailford/2562...,Tulsa,OK,USA,Booker T. Washington HS,Tulsa,OK,USA
12139,20190254,2019,NaN,254,0.80,ARI,TE,3800,Caleb,Wilson,...,1996-07-15,22.800000,http://www.nfl.com/player/CalebWilson/2562603/...,Dallas,TX,USA,Junipero Serra HS,Gardena,CA,USA

In [9]:
#Remove six decimal places for draft age and display results
draft_values = draft_df.round(decimals=0)
draft_values

,player_id,draft,round,pick,draftTradeValue,draftTeam,position,team_id,first_name,last_name,...,dob,draft_age,playerProfileUrl,hometown,home_state,country,highSchool,hsCity,hsState,hsCountry
0,19770001,1977,1.0,1,3000.0,TB,RB,4900,Ricky,Bell,...,1955-04-08,22.0,http://www.nfl.com/player/RickyBell/2509366/pr...,Houston,TX,USA,NaN,NaN,NaN,NaN
1,19770002,1977,1.0,2,2600.0,DAL,RB,1200,Tony,Dorsett,...,1954-04-07,23.0,http://www.nfl.com/player/TonyDorsett/2513084/...,Rochester,PA,USA,NaN,NaN,NaN,NaN
2,19770003,1977,1.0,3,2200.0,CIN,DE,920,Eddie,Edwards,...,1954-04-25,23.0,http://www.nfl.com/player/EddieEdwards/2513479...,Sumter,SC,USA,NaN,NaN,NaN,NaN
3,19770004,1977,1.0,4,1800.0,NYJ,OT,3430,Marvin,Powell,...,1955-08-30,22.0,http://www.nfl.com/player/MarvinPowell/2523462...,Los Angeles,CA,USA,NaN,NaN,NaN,NaN
4,19770005,1977,1.0,5,1700.0,NYG,DE,3410,Gary,Jeter,...,1955-01-24,22.0,http://www.nfl.com/player/GaryJeter/2517530/pr...,Weirton,WV,USA,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12135,20190250,2019,NaN,250,1.0,MIN,LS,3000,Austin,Cutting,...,1997-10-27,22.0,http://www.nfl.com/player/AustinCutting/256292...,Keller,TX,USA,Central HS,Center,TX,USA
12136,20190251,2019,NaN,251,1.0,LAR,LB,2520,Dakota,Allen,...,1995-11-02,24.0,http://www.nfl.com/player/DakotaAllen/2562618/...,Dallas,TX,USA,Summer Creek HS,Humble,TX,USA
12137,20190252,2019,NaN,252,1.0,NE,CB,3200,Ken,Webster,...,1996-06-19,23.0,http://www.nfl.com/player/KenWebster/2562776/p...,NaN,NaN,NaN,Stockbridge HS,Decatur,GA,USA
12138,20190253,2019,NaN,253,1.0,WAS,DE,5110,Jordan,Brailford,...,1995-10-09,24.0,http://www.nfl.com/player/JordanBrailford/2562...,Tulsa,OK,USA,Booker T. Washington HS,Tulsa,OK,USA
12139,20190254,2019,NaN,254,1.0,ARI,TE,3800,Caleb,Wilson,...,1996-07-15,23.0,http://www.nfl.com/player/CalebWilson/2562603/...,Dallas,TX,USA,Junipero Serra HS,Gardena,CA,USA

In [10]:
#Drop columns from dataframe and display results
draft_drop_col = draft_values.drop(columns =['first_name', 'last_name', 'collegeId', 'nflId','combineId', 'highSchool', 'hsCity', 'hsState', 'hsCountry'])
draft_drop_col

,player_id,draft,round,pick,draftTradeValue,draftTeam,position,team_id,full_name,college,height_inches,weight,dob,draft_age,playerProfileUrl,hometown,home_state,country
0,19770001,1977,1.0,1,3000.0,TB,RB,4900,Ricky Bell,USC,74.0,220.0,1955-04-08,22.0,http://www.nfl.com/player/RickyBell/2509366/pr...,Houston,TX,USA
1,19770002,1977,1.0,2,2600.0,DAL,RB,1200,Tony Dorsett,Pittsburgh,71.0,192.0,1954-04-07,23.0,http://www.nfl.com/player/TonyDorsett/2513084/...,Rochester,PA,USA
2,19770003,1977,1.0,3,2200.0,CIN,DE,920,Eddie Edwards,Miami (FL),77.0,256.0,1954-04-25,23.0,http://www.nfl.com/player/EddieEdwards/2513479...,Sumter,SC,USA
3,19770004,1977,1.0,4,1800.0,NYJ,OT,3430,Marvin Powell,USC,77.0,268.0,1955-08-30,22.0,http://www.nfl.com/player/MarvinPowell/2523462...,Los Angeles,CA,USA
4,19770005,1977,1.0,5,1700.0,NYG,DE,3410,Gary Jeter,USC,76.0,259.0,1955-01-24,22.0,http://www.nfl.com/player/GaryJeter/2517530/pr...,Weirton,WV,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12135,20190250,2019,NaN,250,1.0,MIN,LS,3000,Austin Cutting,Air Force Academy,75.0,245.0,1997-10-27,22.0,http://www.nfl.com/player/AustinCutting/256292...,Keller,TX,USA
12136,20190251,2019,NaN,251,1.0,LAR,LB,2520,Dakota Allen,Texas Tech,73.0,235.0,1995-11-02,24.0,http://www.nfl.com/player/DakotaAllen/2562618/...,Dallas,TX,USA
12137,20190252,2019,NaN,252,1.0,NE,CB,3200,Ken Webster,Mississippi,71.0,200.0,1996-06-19,23.0,http://www.nfl.com/player/KenWebster/2562776/p...,NaN,NaN,NaN
12138,20190253,2019,NaN,253,1.0,WAS,DE,5110,Jordan Brailford,Oklahoma State,75.0,250.0,1995-10-09,24.0,http://www.nfl.com/player/JordanBrailford/2562...,Tulsa,OK,USA
12139,20190254,2019,NaN,254,1.0,ARI,TE,3800,Caleb Wilson,UCLA,77.0,240.0,1996-07-15,23.0,http://www.nfl.com/player/CalebWilson/2562603/...,Dallas,TX,USA

In [11]:
#drop null values from rows and columns of data frame and display results
draft_drop_nulls = draft_drop_col.dropna(how='any')
draft_drop_nulls

,player_id,draft,round,pick,draftTradeValue,draftTeam,position,team_id,full_name,college,height_inches,weight,dob,draft_age,playerProfileUrl,hometown,home_state,country
0,19770001,1977,1.0,1,3000.0,TB,RB,4900,Ricky Bell,USC,74.0,220.0,1955-04-08,22.0,http://www.nfl.com/player/RickyBell/2509366/pr...,Houston,TX,USA
1,19770002,1977,1.0,2,2600.0,DAL,RB,1200,Tony Dorsett,Pittsburgh,71.0,192.0,1954-04-07,23.0,http://www.nfl.com/player/TonyDorsett/2513084/...,Rochester,PA,USA
2,19770003,1977,1.0,3,2200.0,CIN,DE,920,Eddie Edwards,Miami (FL),77.0,256.0,1954-04-25,23.0,http://www.nfl.com/player/EddieEdwards/2513479...,Sumter,SC,USA
3,19770004,1977,1.0,4,1800.0,NYJ,OT,3430,Marvin Powell,USC,77.0,268.0,1955-08-30,22.0,http://www.nfl.com/player/MarvinPowell/2523462...,Los Angeles,CA,USA
4,19770005,1977,1.0,5,1700.0,NYG,DE,3410,Gary Jeter,USC,76.0,259.0,1955-01-24,22.0,http://www.nfl.com/player/GaryJeter/2517530/pr...,Weirton,WV,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11874,20180252,2018,7.0,252,1.0,CIN,OG,920,Rod Taylor,Mississippi,75.0,321.0,1994-10-26,24.0,http://www.nfl.com/player/RodTaylor/2560891/pr...,Jackson,MS,USA
11875,20180253,2018,7.0,253,1.0,CIN,WR,920,Auden Tate,Florida State,77.0,225.0,1997-02-03,21.0,http://www.nfl.com/player/AudenTate/2560890/pr...,Irmo,SC,USA
11876,20180254,2018,7.0,254,1.0,ARZ,OT,3800,Korey Cunningham,Cincinnati,78.0,305.0,1995-05-17,23.0,http://www.nfl.com/player/KoreyCunningham/2561...,Montevallo,AL,USA
11877,20180255,2018,7.0,255,1.0,BUF,WR,610,Austin Proehl,North Carolina,70.0,175.0,1996-07-17,22.0,http://www.nfl.com/player/AustinProehl/2561160...,Charlotte,NC,USA
11878,20180256,2018,7.0,256,1.0,ATL,WR,200,Trey Quinn,Southern Methodist,72.0,202.0,1995-12-07,22.0,http://www.nfl.com/player/TreyQuinn/2560847/pr...,Lake Charles,LA,USA

In [12]:
#Extract csv and convert to pandas dataframe
receiver_file = '../resources/receiver.csv'
receiver_df = pd.read_csv(receiver_file)
receiver_df.head()

,receiverId,playId,teamId,playerId,recPosition,recYards,rec,recYac,rec1down,recFumble,recPassDef,recPassInt,recEnd,recNull
0,15235157,15088495,4500,20100082,WR,18,1,0,0,0,0,0,in bounds,0
1,15235174,15088533,4500,20100082,WR,5,1,0,0,0,0,0,in bounds,0
2,15235175,15088534,4500,20100082,WR,15,1,2,0,0,0,0,in bounds,0
3,15235184,15088552,4500,20100082,WR,0,0,0,0,0,0,0,in bounds,0
4,15235213,15088610,4500,20100082,WR,0,0,0,0,0,0,0,in bounds,0

In [13]:
df.rename(columns = {'playerId':'player_id', 'nameFirst':'first_name', 'nameLast':'last_name', 'nameFull': 'full_name',
                              'teamId':'team_id', 'heightInches': 'height_inches', 
                             'ageAtDraft': 'draft_age', 'playerProfileURL': 'player_profile',
                            'homeCity': 'hometown', 'homeState': 'home_state', 'homeCountry': 'country'}, inplace = True)

df

,player_id,draft,round,pick,draftTradeValue,draftTeam,position,team_id,first_name,last_name,...,dob,draft_age,playerProfileUrl,hometown,home_state,country,highSchool,hsCity,hsState,hsCountry
0,19770001,1977,1.0,1,3000.00,TB,RB,4900,Ricky,Bell,...,1955-04-08,22.084932,http://www.nfl.com/player/RickyBell/2509366/pr...,Houston,TX,USA,NaN,NaN,NaN,NaN
1,19770002,1977,1.0,2,2600.00,DAL,RB,1200,Tony,Dorsett,...,1954-04-07,23.087671,http://www.nfl.com/player/TonyDorsett/2513084/...,Rochester,PA,USA,NaN,NaN,NaN,NaN
2,19770003,1977,1.0,3,2200.00,CIN,DE,920,Eddie,Edwards,...,1954-04-25,23.038356,http://www.nfl.com/player/EddieEdwards/2513479...,Sumter,SC,USA,NaN,NaN,NaN,NaN
3,19770004,1977,1.0,4,1800.00,NYJ,OT,3430,Marvin,Powell,...,1955-08-30,21.690411,http://www.nfl.com/player/MarvinPowell/2523462...,Los Angeles,CA,USA,NaN,NaN,NaN,NaN
4,19770005,1977,1.0,5,1700.00,NYG,DE,3410,Gary,Jeter,...,1955-01-24,22.287671,http://www.nfl.com/player/GaryJeter/2517530/pr...,Weirton,WV,USA,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12135,20190250,2019,NaN,250,0.96,MIN,LS,3000,Austin,Cutting,...,1997-10-27,21.515068,http://www.nfl.com/player/AustinCutting/256292...,Keller,TX,USA,Central HS,Center,TX,USA
12136,20190251,2019,NaN,251,0.92,LAR,LB,2520,Dakota,Allen,...,1995-11-02,23.501370,http://www.nfl.com/player/DakotaAllen/2562618/...,Dallas,TX,USA,Summer Creek HS,Humble,TX,USA
12137,20190252,2019,NaN,252,0.88,NE,CB,3200,Ken,Webster,...,1996-06-19,22.871233,http://www.nfl.com/player/KenWebster/2562776/p...,NaN,NaN,NaN,Stockbridge HS,Decatur,GA,USA
12138,20190253,2019,NaN,253,0.84,WAS,DE,5110,Jordan,Brailford,...,1995-10-09,23.567123,http://www.nfl.com/player/JordanBrailford/2562...,Tulsa,OK,USA,Booker T. Washington HS,Tulsa,OK,USA
12139,20190254,2019,NaN,254,0.80,ARI,TE,3800,Caleb,Wilson,...,1996-07-15,22.800000,http://www.nfl.com/player/CalebWilson/2562603/...,Dallas,TX,USA,Junipero Serra HS,Gardena,CA,USA

In [14]:
#Create connection to sql database
connection_db = "postgres:postgres@localhost:5432/nfl_data"
engine = create_engine(f'postgresql://{connection_db}')

In [15]:
#Display table names from postgres database
engine.table_names()

['players', 'draft']

In [17]:
#Make column values lowercase and upload pandas dataframe to sql database
draft_drop_nulls.columns = [c.lower() for c in draft_drop_nulls.columns]
draft_drop_nulls.to_sql(name='draft', con=engine, if_exists='append', index=False)

In [18]:
#Connect to draft table from sql database and return first five rows that have been loaded
pd.read_sql_query('select * from draft', con=engine).head()

,player_id,draft,round,pick,drafttradevalue,draftteam,position,team_id,full_name,college,height_inches,weight,dob,draft_age,playerprofileurl,hometown,home_state,country
0,19770001,1977,1.0,1,3000.0,TB,RB,4900,Ricky Bell,USC,74.0,220.0,1955-04-08,22.0,http://www.nfl.com/player/RickyBell/2509366/pr...,Houston,TX,USA
1,19770002,1977,1.0,2,2600.0,DAL,RB,1200,Tony Dorsett,Pittsburgh,71.0,192.0,1954-04-07,23.0,http://www.nfl.com/player/TonyDorsett/2513084/...,Rochester,PA,USA
2,19770003,1977,1.0,3,2200.0,CIN,DE,920,Eddie Edwards,Miami (FL),77.0,256.0,1954-04-25,23.0,http://www.nfl.com/player/EddieEdwards/2513479...,Sumter,SC,USA
3,19770004,1977,1.0,4,1800.0,NYJ,OT,3430,Marvin Powell,USC,77.0,268.0,1955-08-30,22.0,http://www.nfl.com/player/MarvinPowell/2523462...,Los Angeles,CA,USA
4,19770005,1977,1.0,5,1700.0,NYG,DE,3410,Gary Jeter,USC,76.0,259.0,1955-01-24,22.0,http://www.nfl.com/player/GaryJeter/2517530/pr...,Weirton,WV,USA

In [22]:
#Make column values lowercase and upload pandas dataframe to sql database
players_drop_nulls.columns = [c.lower() for c in players_drop_nulls.columns]
players_drop_nulls.to_sql(name='players', con=engine, if_exists='append', index=False)

In [24]:
#Connect to draft table from sql database and return first five rows that have been loaded
pd.read_sql_query('select * from players', con=engine).head()

,player_id,full_name,position,nfl_id,college,height_inches,weight,dob,draft_age,playerprofileurl,hometown,home_state,country
0,19770001,Ricky Bell,RB,2509366,USC,74.0,220.0,1955-04-08,22.0,http://www.nfl.com/player/RickyBell/2509366/pr...,Houston,TX,USA
1,19770002,Tony Dorsett,RB,2513084,Pittsburgh,71.0,192.0,1954-04-07,23.0,http://www.nfl.com/player/TonyDorsett/2513084/...,Rochester,PA,USA
2,19770003,Eddie Edwards,DE,2513479,Miami (FL),77.0,256.0,1954-04-25,23.0,http://www.nfl.com/player/EddieEdwards/2513479...,Sumter,SC,USA
3,19770004,Marvin Powell,OT,2523462,USC,77.0,268.0,1955-08-30,22.0,http://www.nfl.com/player/MarvinPowell/2523462...,Los Angeles,CA,USA
4,19770005,Gary Jeter,DE,2517530,USC,76.0,259.0,1955-01-24,22.0,http://www.nfl.com/player/GaryJeter/2517530/pr...,Weirton,WV,USA

## Rushing csv

In [3]:
csv_file= "../resources/rusher.csv"
rusher_df=pd.read_csv(csv_file)
rusher_df

,rushId,playId,teamId,playerId,rushPosition,rushType,rushDirection,rushLandmark,rushYards,rushPrimary,rushTd,rushEnd,rushNull
0,15184506,15088563,2310,20130063,TE,rush,right,tackle,2,1,0.0,in bounds,0
1,15184496,15088531,4500,20140062,QB,kneel,NaN,NaN,-1,1,0.0,in bounds,0
2,15184510,15088575,4500,20140062,QB,qb scramble,right,end,3,1,0.0,ran out of bounds,0
3,15184471,15088462,2310,20140629,RB,rush,right,end,7,1,0.0,in bounds,0
4,15184477,15088479,2310,20140629,RB,rush,left,guard,2,1,0.0,in bounds,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
241156,2114453,2041094,2700,20050002,RB,rush,right,end,5,1,1.0,in bounds,0
241157,2114464,2041120,2700,20050002,RB,rush,NaN,NaN,0,1,0.0,in bounds,0
241158,2114466,2041123,2700,20050002,RB,rush,middle,center,3,1,0.0,in bounds,0
241159,2114467,2041124,2700,20050002,RB,rush,middle,center,-2,1,0.0,in bounds,0
241160,2114460,2041111,3900,20050430,WR,rush,left,end,8,1,0.0,in bounds,0

In [ ]:
#Dropping columns 
drop_rusher_df=rusher_df.drop(columns=['rushType', 'rushDirection', 'rushLandmark','rushEnd', 'rushNull','rushPrimary','playId'])

In [ ]:
#Renaming columns 
new_rusher_df=drop_rusher_df.rename(columns={"rushId": 'rush_id', 'teamId': 'team_id','playerId':'player_id', 
                          'rushPosition': 'rush_position', 'rushYards': 'rush_yards','rushTd':'rush_td'}).head()

## Loading the reciver.csv

In [ ]:
rec_csv_file= "../resources/receiver.csv"
receiver_df=pd.read_csv(rec_csv_file)
receiver_df

In [ ]:
#Selecting the columns 
new_receiver_df = receiver_df[['receiverId','teamId', 'playerId', 'recPosition', 'recYards']].copy()
new_receiver_df.head()

In [ ]:
#Renaming columns 
name_receiver_df=new_receiver_df.rename(columns={'receiverId': 'receiver_id', 'teamId': 'team_id',
                                                'playerId': 'player_id', 'recPosition': 'rec_position',
                                               'recYards': 'rec_yards'})
name_receiver_df

##Conecting to the local data base

In [ ]:
rds_connection_string = "postgres:postgres@localhost:5432/nfl_data"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [ ]:
engine.table_names()

## Loading the clean rusher.csv to database

In [ ]:
new_rusher_df.to_sql(name='rusher', con=engine, if_exists='append', index=False)

In [ ]:
pd.read_sql_query('select* from rusher', con=engine).head()

Merging the receiver data

In [ ]:
receiver_data=pd.read_sql_query('select players.player_id, receiver.player_id, draft.full_name, receiver.rec_yards, receiver.rec_position from player inner join receiver on player.player_id= receiver.player_id inner join draft on player.player_id= draft.player_id'
, con=engine).head()
receiver_data

In [ ]:
receiver_data_df=receiver_data.drop(columns=['playerid'])
receiver_data_df.head()

### Merging the rush data

In [ ]:
rush_data=pd.read_sql_query('select player.player_id, rusher.player_id, draft.full_name, rusher.rush_yards, rusher.rush_position from player inner join rusher on player.player_id= rusher.player_id inner join draft on player.player_id= draft.player_id'
, con=engine)
rush_data.head()